/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  color: white;
}

h1 {
  font-size: 7rem;
  font-family: 'Hubballi', sans-serif;
}

h2 {
  font-size: 7rem;
  font-family: 'Tangerine', sans-serif;
}

h3 {
  font-size: 3rem;
  font-family: 'Barlow', sans-serif;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

.shadow {
  box-shadow: 2.5px 2.5px 5px 5px rgba(21, 21, 21, 0.15);
}

/******************************************
/* LAYOUT
/*******************************************/

.hidden {
  display: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ----- Main ----- */

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.logo {
  margin-bottom: 5%;
}

.foldText {
  flex-basis: 35%;
  margin-top: 5%;
}

.foldText p {
  padding-top: 15%;
  width: 70%;
  margin: 0 auto;
}

/* ----- Carousel ----- */

/* .hidden {
  display: none;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carPhoto img {
  max-width: 50%;
}

.backwards,
.forwards {
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -2%;
  padding: 1%;
  font-weight: bold;
  font-size: 1.9rem;
  transition: 0.5s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forwards {
  right: 0;
  border-radius: 0 4px 4px 0;
} */

/*.carousel {
  display: flex;
  justify-content: flex-start unsafe;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}*/

.carPhoto {
  /* flex-basis: 20vh; */
  flex-shrink: 0;
  flex-grow: 0;
  /* max-width: 50vh; */
  /* max-height: 30% */
}

/* ----- Carousel Function ----- */

.allSlides {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row unsafe;
  width: 100vw;
  overflow: hidden;
  /* margin: 0 auto; */
  /* perspective: 500px; */
  height: 375.25px;
}

.singleSlide {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  width: 270px;
  flex-shrink: 0;
  position: absolute;
  /* background-color: white; */
  transition: 6s linear;
  /* box-shadow: 0px 5px 10px lightgrey; */
}

/* Left slide*/
.singleSlide[data-order="1"] {
  left: -370px;
  transform: translate(-50%);
  z-index: 0;
  opacity: 0;
}

/* Middle slide */
.singleSlide[data-order="2"] {
  left: -100px;
  transform: translate(-50%);
  z-index: 3;
  opacity: 1;
}

/* Right slide*/
.singleSlide[data-order="3"] {
  left: 170px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Fourth Slide */
.singleSlide[data-order="4"] {
  left: 440px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Fifth Slide */
.singleSlide[data-order="5"] {
  left: 710px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Sixth Slide */
.singleSlide[data-order="6"] {
  left: 980px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Seventh Slide */
.singleSlide[data-order="7"] {
  left: 1250px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Eigth Slide */
.singleSlide[data-order="8"] {
  left: 1520px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Ninth Slide */
.singleSlide[data-order="9"] {
  left: 1790px;
  transform: translate(-50%);
  z-index: 2;
  opacity: 1;
}

/* Tenth Slide */
.singleSlide[data-order="10"] {
  left: 2060px;
  transform: translate(-50%);
  z-index: 0;
  opacity: 0;
}

/* ----- Columns ----- */

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.imgCol{
  flex-basis: 50%;
  padding: 2.5%;
}

.imgCol img {
  width: 100%;
}

.col-2-3 {
  flex-basis: 66%;
  margin: 5%;
  padding: 2.5% 5%;
}

.col-2-3 h2 {
  margin-bottom: 5%;
}

.col-2-3 p {
  margin-bottom: 5%
}

/* ----- Contact ----- */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 30px;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ----- Menu ----- */

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.menu h2{
  padding-bottom: 30px;
  margin-bottom: 70px;
  width: 30%;
  text-align: center;
}

.drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 90%;
  margin: auto;
}

.desc {
  flex-basis: 30%;
  flex-shrink: 0;
  text-align: center;
}

.desc h3 {
  width: 70%;
  padding-bottom: 20px;
  margin: 0 auto 20px auto;
}

.desc p {
  margin: 0 auto 20px auto;
  width: 80%;
}

.desc span {
  font-size: 1.6rem;
}

/******************************************
/* SPECIFIC STYLES
/*******************************************/

/* ----- Main ----- */

main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .45), rgba(255, 255, 255, 0)), rgb(72, 70, 63);
  /* background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px; */
  text-align: center;
}

main span {
  font-family: 'Tangerine', cursive;
  font-size: 5rem;
}

main p {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
}

/* .logo {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(12, 12, 12, 0.1));
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 60px;
} */

/* ----- Carousel ----- */

.carousel {
  border-top: 15px solid rgb(189, 96, 82);
  /* border-bottom: 10px solid rgb(189, 96, 82); */
}

.backwards,
.forwards {
  color: white;
  text-decoration: none;
}

/* ----- Columns ----- */

.columns {
  background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(255, 255, 255, 0)), rgb(72, 70, 63);
}

.firstCol {
  border-top: 15px solid rgb(189, 96, 82);
}

.col-2-3 {
  background: rgba(109, 72, 65, 0.6);
  border-radius: 10px;
}

.imgCol img {
  border-radius: 10px;
}

.altCol{
  background: rgb(189, 96, 82);
}

/* ----- Contact ----- */

.contact {
  background: rgb(189, 96, 82);
}

.contact span {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
}

/* ----- Menu ----- */

.container {
  background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(255, 255, 255, 0)), rgb(72, 70, 63);
}

.menu h2 {
  border-bottom: 2px solid white;
}

.desc h3 {
  border-bottom: 1px dotted white;
}

/******************************************
/* RESPONSIVE
/*******************************************/

@media screen and (min-width: 1151px) {
  .foldText {
    flex-basis: 35%;
    margin-top: 2.5%;
  }
}

@media screen and (max-width: 1150px) {
  .foldText {
    flex-basis: 40%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .foldText {
    flex-basis: 40%;
    margin-top: 5%;
  }
  .columns {
    flex-direction: column;
  }
  .altCol {
    flex-direction: column-reverse;
  }
  .imgCol{
    width: 70%;
  }
  .col-2-3{
    text-align: center;
  }
  .desc {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 940px) {
.foldText {
  flex-basis: 45%;
  margin-top: 10%;
}
}

@media screen and (max-width: 800px) {
  .foldText {
    margin-top: 10%;
  }
}

@media screen and (max-width: 713px) {
  .foldText {
    margin-top: 10%;
  }
  .desc {
    flex-basis: 80%;
  }
}

@media screen and (max-width: 640px) {
  .foldText {
    margin-top: 15%;
    flex-basis: 60%;
  }
}

@media screen and (max-width: 540px) {
  .foldText {
    flex-basis: 70%;
    margin-top: 15%;
  }
}